@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;900&display=swap');


body{
    margin:0;
    box-sizing: border-box;
    background-color:whitesmoke;
}

header{
    position: relative;
    text-align: center;
}

header h1{
    font-size:5rem;
    letter-spacing: 8px;
    font-family: 'Recursive', sans-serif;
    font-weight: 100;
    line-height: 1px;
    color:black;
}

.meme-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:40px;
}

.meme-img img{
    width:300px;
    height: 300px;
    border:2px solid black;
    margin:15px;
    cursor:pointer;
}

.generate{

    display:flex;
    justify-content: center;
}

.mymeme{

width: 700px;
height: auto;
cursor:pointer;
position: relative;
margin-left:200px;
border:3px solid black;
}

form{
    display: flex;
    flex-direction: column;
    margin-left:30px;
}

form input{
    margin-top:20px;

}

h2 {
    position: absolute;
    width: 70%;
    text-align: center;
    left:10%;
    font-family: impact,sans-serif;
    font-size:2em;
    text-transform: uppercase;
    color:white;
    letter-spacing: 1px;
    text-shadow: 
                    2px 2px 0 #000,
                    -2px -2px 0 #000,
                    2px -2px 0 #000,
                    -2px 2px 0 #000,
                    0 2px 0 #000,
                    2px 0 0 #000,
                    0 -2px 0 #000,
                    -2px 0 0 #000,
                    2px 2px 5px #000;
                    
}

.generate{
    width: auto;
    position:relative;
}

input[type=text]{
    width: 100%;
    padding: 11px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }